name: Upgrade a s/stable cluster to s/candidate
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: null

jobs:
  # a2b upgrade implies a/stable -> b/candidate release upgrade.
  r2r-upgrade-test:
    uses: ./.github/workflows/reusable-upgrade-test.yml
    with:
      job-name: Test squid/stable to squid/candidate upgrades
      release-channel: squid/stable
      upgrade-mode: channel
      upgrade-channel: squid/candidate
      verify-config: true
